extends base

block branding
  p= title
  
block header_time
  div.header-content.header-content-first
    div.header-column.icon
      i.icon-time
    div.header-column
      span#date.date  
      br
      span#clock.time 

block userlinks
  a(href="#")= t('app.documentation')
  span.separator |
  a(href="#")= t('app.change_password')
  span.separator |
  a(href="#")= t('app.sign_out')
                
block content-left
  div.left-column
    block quick-search
      form.form-search.nav-quick-search(autocomplete="off", action="/", method="GET")
        input#quick-search.input-medium.search-query(type="text", name="q")
        i.input-icon.icon-search
        input.submit(type="submit",value="")
    include menu

block content-center
  div.center-column.clearfix
    block breadcrumbs
      ul.breadcrumb
        li
          a(href="#")= t('app.realtime')
          <span class="divider">»</span>
        li.active
          a(href="#")= t('app.overview')
    block messages
    <!-- Content -->
    div#content.colM
      block pretitle
        block content_title
          h2.content-title Title
      |!{ content }
      block sidebar
      br.clearfix
    <!-- END Content -->
        
block copyright
  span Copyright &copy; 2013 Sauropod Studio, Inc <br>
    = t("app.developed_by") 
  a(href="http://sauropodstudio.com", target="_blank") SauropodStudio.com 
  
block footer_branding
  span Server #{version.long}
  
block footer_links
  a.icon(href="http://support.castlestory.net/", target="_blank")
    i.icon-question-sign
    = t("app.support")
  a.icon(href="http://sauropodstudio.com/", target="_blank")
    i.icon-bookmark
    = t("app.licence")
  a.icon(href="http://github.com/Sauropod-Studio/castlestory-server/issues", target="_blank")
    i.icon-comment
    = t("app.report_a_bug")
    
